* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.jumbotron{
background-color: white;
}

.carouselExampleSlidesOnly{
    right: 500px;
}
.jumbotron{
    text-align: center;
    font-family:sans-serif;
}